DATABASE_URL="postgresql://seng401_211u_user:WLSs0kPlwNh0FUMtp5ju0VIwZjxquSu4@dpg-d6f2jjo8tnhs73cgcso0-a.oregon-postgres.render.com/seng401_211u"
CORS_ORIGIN="*"
ENABLE_DB_KEEP_ALIVE="true"
KEEP_ALIVE_INTERVAL_MINUTES="30"
